body {
    background-color: #212529;
    color: #fff;
}

h1 {
    font-size: 3em;
    margin: 40px
}

h2 {
    font-size: 2em;
    margin: 20px 0;
}

.form-group {
    margin: 20px 0;
}

.input-group-text {
    height: 100%;
    color: #35ad14;
}

p.alert-danger, p.alert-success {
    display: none;
}

#results > .row {
    border-bottom: 2px solid grey;
}

.position-1 {
    color: gold;
}

.position-2 {
    color: silver;
}

.position-3 {
    color: #CD7F32;
}
